/* basic spacing, font, background color for page */
body {
  margin: 5vw 5vw 0px 5vw;
  background-color: #ebebeb;
  font-family: 'Work Sans', sans-serif;
}

/* spacing & position for text within marquee div */
marquee > p {
  height: 3vh;
  overflow: hidden;
  position: relative;
  margin-top: 0;
  color: black;
}

/* remove underline from all states of marquee links */
marquee a:link, marquee a:visited, marquee a:active, marquee a:hover {
  color: black;
  text-decoration: underline;
}

/* spacing & position for header, LOOP WELLNESS */
h1 {
  margin-top: 0;
  padding-top: 0;
  font-size: 8vmin;
  text-align: left;
  line-height: 0vh;
}

/* nav bar spacing & size */
.topnav {
  font-size: 2.2vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  box-sizing: border-box;
  text-align: right;
}

/* remove underline for all states of navbar */
.topnav a, .topnav a:visited {
  text-decoration: none;
  color: black;
}

/* spacing & size of PRODUCT NAMES */
h3 {
  font-size: 2.5vh;
  margin-top: 2.5vh;
}

/* add underline when hovering over PRODUCT NAME */
h3:hover {
  text-decoration: underline;
}

/* spacing & size of PRICES */
h5 {
  letter-spacing: 0.25vh;
  font-size: 1.5vh;
  line-height: 2vh;
}

/* spacing / size / position of PRODUCT DESCRIPTIONS */
h6 {
  letter-spacing: 0.15vh;
  font-size: 1.5vh;
  line-height: 2.5vh;
  text-align: left;
}

/* make everything on page border box sizing */
body * {
  box-sizing: border-box;
}

#contentGrid {
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 0.25vmin;
  padding: 1vmin;
  grid-column-gap: 5vmin;
  grid-row-gap: 10vmin;
  text-align: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 0.25vmin;
  padding: 4vh;
}


/* size of product photos & transition rules when hovering */
.productPhoto {
  width: 80%;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* opacity lessens when hovering over product photos */
img:hover {
    opacity: 0.5;
    transition: opacity 1s;
}

/* remove underlines for these states of the footer */
footer, footer a:link, footer a:visited, footer a:active {
  text-decoration: none;
  text-align: center;
  color: black;
  line-height: 3vh;
  font-size: 1.7vh;
}

/* make text green & add underline when hovering over footer text */
footer a:hover {
  color: green;
  text-decoration: underline;
}

/* sizing for porcupine emoji at the bottom for fun */
.porcupine {
  font-size: 3vh;
}

@media only screen and (min-width: 1084px) {
  /* create a 3-column grid with these spacing rules & a border around it */
  #contentGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1vmin;
    grid-column-gap: 5vmin;
    grid-row-gap: 10vmin;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.25vmin;
    padding: 4vh;
  }
}

@media only screen and (max-width: 469px) {
  #contentGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1vmin;
    grid-column-gap: 5vmin;
    grid-row-gap: 10vmin;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 0.25vmin;
    padding: 4vh;
  }
}
